{% extends 'layout.twig' %}

{% block content %}
	{% include 'partials/admin_sidebar.twig' %}
	<dialog id="delete-modal" class="modal">
		<div class="modal-box text-center">
			<img src="" id="product-image" class="w-32 h-32 rounded-full mx-auto mt-6">
			<p class="text-lg font-semibold">¿Estás seguro de querer eliminar
				<span id="product-name"></span>?</p>
			<div class="modal-action flex justify-center">
				<button class="btn btn-error w-1/2 mr-2" id="delete-confirm">Eliminar</button>
				<button class="btn btn-neutral w-1/2 ml-2" id="delete-cancel">Cancelar</button>
			</div>
		</div>
	</dialog>
	<main role="main" class="p-4 sm:ml-64">
		<div class="ml-6 mt-6">
			<div class="flex flex-row justify-between items-center mr-6">
				<h1 class="text-2xl font-semibold text-gray-800">Productos</h1>
				<div class="space-x-1">
					<button class="btn btn-success" id="add-button">Agregar</button>
					<button class="btn btn-neutral btn-disabled" id="edit-button">Editar</button>
					<button class="btn btn-error btn-disabled" id="delete-button">Eliminar</button>
				</div>
			</div>
			<div class="card mt-6 mr-6 w-120 bg-base-100 shadow-xl">
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>
									<label>
										<input type="checkbox" class="checkbox" id="check-all">
									</label>
								</th>
								<th>Nombre</th>
								<th>Descripcion</th>
								<th>Precio</th>
								<th>Material</th>
								<th>Categoria</th>
								<th>Inventario</th>
							</tr>
						</thead>
						<tbody>
							{% for producto in productos %}
								<tr>
									<td>
										<label>
											<input type="checkbox" class="checkbox" name="product" value="{{ producto.Id }}">
										</label>
									</td>
									<td>{{ producto.Nombre }}</td>
									<td>{{ producto.Descripcion }}</td>
									<td>{{ producto.Precio }}</td>
									<td>{{ producto.Material }}</td>
									<td>{{ producto.Categoria }}</td>
									<td>{{ producto.Stock }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="/dist/admin_products.js"></script>
	</main>
{% endblock %}
